/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-my-first-interactive-block {
	font-size: 1em;
	border: 1px solid #e0e0e0;
	padding: 1em;
}
